body {
	background-color: rgb(172, 172, 172);
	color: black;	
}
.navbar {
	opacity:0.7;
	background:no-repeat url(../img/bg.jpg) ;

}

.nav-link:hover, .nav-link:focus {
	background-color:rgb(81, 91, 180);
	border-radius: 5px;
}

.footer{
	background-color:black;
	text-align: center;
	color: white ;
}

.front{
	background:no-repeat url(../img/bg.jpg) ;
	height: auto;
	color: white;
	border-bottom: 1px solid white;
}

.intro{
	color:white;
	padding-top: 250px;
	padding-bottom: 450px;
}

#education{
	background-color: rgba(71, 81, 214, 0.801);
}
#language{
	background-color: rgba(111, 182, 134, 0.781);
}
#project{
	background-color:  rgba(71, 81, 214, 0.801);
}
#contact{
	background-color: rgba(111, 182, 134, 0.781);
}

p{
	font-size: 18px;
}
.card{
	background:rgba(112, 129, 116, 0.849);
	border: 2px solid rgba(0, 0, 0, 0.829);
}

.card-body{
	background:rgb(201, 199, 199);
}

strong{
	color: white;
}

strong:hover, strong:focus{
	cursor: pointer;
}

.pointer{
	cursor: pointer;
}

a{
	color: black;
}
a:hover, a:focus{
	color: rgb(0, 0, 0);
}