html{
	scroll-behavior: smooth;
}
body {
	background-color: rgb(53, 53, 53);
	color: rgb(211, 211, 211);	
}

.navbar {
	opacity:1;
	background:rgb(0, 0, 0) ;
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
	color:black;
	background-color:rgba(211, 204, 204, 0.774);
	border-radius: 5px;
}

.navbar .navbar-nav .nav-link {
    color:white;
}

.footer{
	background-color:black;
	text-align: center;
	color: white ;
}

.front{
	background:no-repeat url(../img/bg.jpg) ;
	height: auto;
	color: white;
	border-bottom: 1px solid white;
}

.intro{
	color:white;
	padding-top: 250px;
	padding-bottom: 450px;
}

#education{
	background-color: rgba(24, 24, 24, 0.863);
}
#language{
	background-color: rgb(51, 51, 51);
}
#project{
	background-color:  rgba(24, 24, 24, 0.863);
}
#contact{
	background-color: rgba(0, 0, 0, 0.781);
}
.whiteBack{
	background-color: white;
}

p{
	font-size: 18px;
}
.card{
	background:rgba(24, 23, 23, 0.527);
	border: 2px solid rgba(0, 0, 0, 0.829);
}

.card-body{
	background:rgb(48, 47, 47);
}

strong{
	color: white;
}

strong:hover, strong:focus{
	cursor: pointer;
}

.pointer{
	cursor: pointer;
}

a{
	color: rgb(211, 211, 211);
}
a:hover, a:focus{
	color: rgb(255, 255, 255);
}

.outline{
	border: 2px solid rgba(0, 0, 0, 0.829);
}