html{
	scroll-behavior: smooth;
}
body {
	background-color: rgb(22, 21, 21);
	color: rgb(211, 211, 211);	
}
img{
    height: 300px
}
#pic{
	height: 100px;
	width: 100px;
}
#number{
	text-align: center;
	font-size: 150px;
}
#numlist{
	font-size: 30px;
}
.calculater{
	font-size: 30px;
}